@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="frontpage-grid">
    <div class="frontpage-section">
        <a asp-page="./Recipes/Index">Recept</a>
    </div>

    <div class="frontpage-section">
        <a asp-page="./Ingredients/Index">Ingredienser</a>
    </div>

    <div class="frontpage-section">
        <a asp-page="./MealPlans/Index">Planeringar</a>
    </div>

    <div class="frontpage-section">
        <a asp-page="./UnitsOfMeasurement/Index">Måttenheter</a>
    </div>
</div>
@if (Model.accessControl.IsLoggedIn())
{
    <div class="frontpage-section">
        <a asp-page="./AddSampleData">Lägg till exempeldata (OBS tar bort all data)</a>
    </div>
}




