@page
@model FullStackRecipeApp.Pages.UnitsOfMeasurement.CreateModel


<h1 class="page-headers">Lägg till ny enhet</h1>
<hr />
    <form method="post" class="edit-form-container">
        <div asp-validation-summary="ModelOnly"></div>
            <label asp-for="Unit.Name"></label>
            <input asp-for="Unit.Name"/>
            <span asp-validation-for="Unit.Name"></span>
            <input type="submit" value="Skapa enhet" />
            <div asp-validation-summary="All"></div>
    </form>


<div class="bottom-buttons">
    <a asp-page="Index">Tillbaka till enheter</a>
</div>
