@page
@model FullStackRecipeApp.Pages.UnitsOfMeasurement.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2 class="page-headers">Vill du verkligen ta bort enheten?</h2>

<hr />
<dl>
    <dt>
        @Html.DisplayNameFor(model => model.Unit.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Unit.Name)
    </dd>
</dl>
    
<form method="post" class="edit-form-container">
    <input type="hidden" asp-for="Unit.ID" />
    <input type="submit" value="Ta bort enheten" class="btn btn-danger" />
</form>

<div class="bottom-buttons">
    <a asp-page="./Index">Tillbaka till enheter</a>
</div>
