@page
@model FullStackRecipeApp.Pages.UnitsOfMeasurement.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Måttenhet</h1>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Unit.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Unit.Name)
        </dd>
    </dl>
</div>
<div class="bottom-buttons">

    @if (Model.AccessControl.IsLoggedIn() && Model.AccessControl.UserHasAccess(Model.Unit))
    {
        <a asp-page="./Index">Tillbaka till enheter</a>
        <a asp-page="./Edit" asp-route-id="@Model.Unit.ID">Redigera enhet</a>
        <a asp-page="./Delete" asp-route-id="@Model.Unit.ID">Ta bort enhet</a>

    }
    else
    {

        <a asp-page="./Index">Tillbaka till enheter</a>
    }

</div>
