@page
@model FullStackRecipeApp.Pages.UnitsOfMeasurement.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="page-headers">Redigera enhet: @Model.Unit.Name</h1>

<hr />
    <form method="post" class="edit-form-container">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Unit.ID" />
            <label asp-for="Unit.Name" class="control-label"></label>
            <input asp-for="Unit.Name" class="form-control" />
            <span asp-validation-for="Unit.Name" class="text-danger"></span>
            <input type="submit" value="Spara enheten" class="btn btn-primary" />
    </form>
<div class="bottom-buttons">
    <a asp-page="./Index">Tillbaka till enheter</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
