@page
@model FullStackRecipeApp.Pages.UnitsOfMeasurement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="page-headers">Måttenheter</h1>

@if (Model.AccessControl.IsLoggedIn())
{
    <div class="frontpage-section create-new-button">
        <a asp-page="Create">Lägg till ny enhet</a>
    </div>
}

<table class="list-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Unit)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>                    
                </td>
            </tr>
        }
    </tbody>
</table>
