@page
@model FullStackRecipeApp.Pages.MealPlans.CreateModel


<h1 class="page-headers">Skapa ny veckomatsedel</h1>
<hr />

<form method="post" class="edit-form-container">
    <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="MealPlan.WeekNumber">Veckonummer: </label>
        <input asp-for="MealPlan.WeekNumber" />
        <span asp-validation-for="MealPlan.WeekNumber"></span>
        <label asp-for="MealPlan.Name">Namn: </label>
        <input asp-for="MealPlan.Name" />
        <span asp-validation-for="MealPlan.Name"></span>
        <input type="submit" value="Skapa planering" />
</form>


<div class="bottom-buttons">
    <a asp-page="Index">Tillbaka till planeringar</a>
</div>

