@page
@model IndexModel



<div class="frontpage-grid">
    <div class="frontpage-section">
        <a asp-page="./Recipes/Index">HEJ :)</a>
    </div>

    <div class="frontpage-section">
        <a asp-page="./Ingredients/Index">Ingredienser</a>
    </div>

    <div class="frontpage-section">
        <a asp-page="./MealPlans/Index">Planeringar</a>
    </div>

    <div class="frontpage-section">
        <a asp-page="./UnitsOfMeasurement/Index">Måttenheter</a>
    </div>

    @if (Model.accessControl.IsLoggedIn())
    {
        <div id="sample-data-button" class="frontpage-section">
            <a asp-page="./AddSampleData">Lägg till exempeldata (OBS tar bort all data)</a>
        </div>
    }

</div>


