<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FullStackRecipeApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <a asp-area="" asp-page="/Index">FullStackRecipeApp</a>
        <nav >
            <ul >
                <li >
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li >
                    <a asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </nav>

    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        &copy; 2022 - FullStackRecipeApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
