<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FullStackRecipeApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <header>
        <div id="website-title-container">
            <a asp-area="" asp-page="/Index">recipebook</a>
        </div>
        <nav>
            <div class="topnav" id="myTopnav">
                <a asp-area="" asp-page="/Index" class="active">Home</a>

                <a asp-area="" asp-page="/Privacy">Privacy</a>
                <partial name="_LoginPartial" />

                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i >MENU</i>
                </a>
            </div>
        </nav>

    </header>

    <main #>
        @RenderBody()
    </main>

    <footer>
        <p>Written by Nils Landegren - 2022.</p>
    </footer>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
