@page
@model FullStackRecipeApp.Pages.Ingredients.DeleteModel


<h1 class="page-headers">Ta bort ingrediensen?</h1>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.FoodCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.FoodCategory)
        </dd>
    </dl>
    

    <form method="post" class="edit-form-container">
        <input type="hidden" asp-for="Ingredient.ID" />
        <input type="hidden" asp-for="Ingredient.UserID" />

        <input type="submit" value="Ta bort ingrediens" />
    </form>
    <div class="bottom-buttons">
        <a asp-page="./Index">Tillbaka till ingredienser</a>
    </div>
</div>
