@page
@model FullStackRecipeApp.Pages.Ingredients.EditModel

<h1 class="page-headers">Redigera ingrediens</h1>

<hr />
<div>
    <div class="edit-form-container">
        <form method="post">
            <input type="hidden" asp-for="Ingredient.UserID" />

            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Ingredient.ID" />
            <div>
                <label asp-for="Ingredient.Name"></label>
                <input asp-for="Ingredient.Name" />
                <span asp-validation-for="Ingredient.Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredient.FoodCategory"></label>
                <input asp-for="Ingredient.FoodCategory" />
                <span asp-validation-for="Ingredient.FoodCategory"></span>
            </div>
            <div>
                <label asp-for="Ingredient.DietCategory">Dietkategori: </label>
                <select asp-for="Ingredient.DietCategory" asp-items="Html.GetEnumSelectList<Models.DietCategory>()">
                </select>
            </div>
            <div>
                <input type="submit" value="Spara" />
            </div>
        </form>
    </div>
</div>

<div class="bottom-buttons">
    <a asp-page="./Index">Tillbaka till alla ingredienser</a>
</div>
