@page
@model FullStackRecipeApp.Pages.Ingredients.CreateModel



<h1 class="page-headers">Skapa ny ingrediens</h1>

<hr />
<form class="edit-form-container" method="post">
    <input type="hidden" asp-for="Ingredient.UserID" />
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Ingredient.UserID" />
    <label asp-for="Ingredient.Name"></label>
    <input asp-for="Ingredient.Name" />
    <span asp-validation-for="Ingredient.Name"></span>
    <label asp-for="Ingredient.FoodCategory">Matkategori: </label>
    <input asp-for="Ingredient.FoodCategory" />
    <span asp-validation-for="Ingredient.FoodCategory"></span>
    <label asp-for="Ingredient.DietCategory">Dietkategori: </label>
    <select asp-for="Ingredient.DietCategory" asp-items="Html.GetEnumSelectList<Models.DietCategory>()">
        <option value="" disabled selected>Välj kategori</option>
    </select>
    <input type="submit" value="Skapa" />
    <div asp-validation-summary="All"> </div>
</form>

<div class="bottom-buttons">
    <a asp-page="Index">Tillbaka till ingredienser</a>
</div>
