@page
@model FullStackRecipeApp.Pages.Recipes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Redigera recept</h1>

<hr />

<form method="post">
    <div class="edit-form-container">
        <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="Recipe.Name">Namn</label>
        <textarea asp-for="Recipe.Name"></textarea>

        <label asp-for="Recipe.Description">Beskrivning/noteringar: </label>
        <textarea asp-for="Recipe.Description"></textarea>

        <label asp-for="Recipe.Instructions">Instruktioner: </label>
        <textarea asp-for="Recipe.Instructions"></textarea>

        <label asp-for="Recipe.MealCategory">Kategori: </label>
        <select asp-for="Recipe.MealCategory" asp-items="Html.GetEnumSelectList<Models.MealCategory>()">
            <option value="" disabled selected>Välj kategori</option>
        </select>
    </div>

    <hr />
    <p>Lägg till ingrediens</p>

    @* Make this cloneable, implement functionality *@

    <div class="ingredient-div">
        <select name="SelectedIngredientIDs" asp-items="Model.IngredientOptions">
            <option value="" disabled selected>Välj ingrediens</option>
        </select>
        <select name="SelectedMeasurementIDs" asp-items="Model.MeasurementOptions">
            <option value="" disabled selected>Välj enhet</option>
        </select>
        <label asp-for="Quantity.Amount">Välj mängd</label>
        <input class="edit-input" name="SelectedAmounts" asp-for="Quantity.Amount" />
        <label>Ta bort ingrediens?</label>
        <input type="checkbox" />
    </div>

    <div>
        <input type="submit" value="Spara" />
    </div>
    <div asp-validation-summary="All"></div>
</form>

<div class="bottom-buttons">
    <a asp-page="./Index">Tillbaka till alla recept</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
